body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: #4e54c8; 
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8); 
    
}

.container{
    display: inline-flex;
}


.heading{
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 98px;
    color: black;
    top: 190px;
    left: 9%;
}

.sub_heading{
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 130px;
    left: 300px;
    font-size: 40px;
}

.calci{
    width: 400px;
    height: 500px;
    /* background-color: #ffff; */
    
    text-align: center;
    line-height: 3px;
    position: absolute;
    top: 20%;
    left: 65%;
}

#display{
    border: none;
    background-color: #fff;
    width: 300px;
    height: 45px;
    border-radius: 60px;
    padding: 10px 40px;
    margin: 9px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;    
    font-weight: 200;
    
}

span{
    color: white;
}

#Backspace{
    width: 70px;
    height: 70px;
    background-image: url('icons8-back-arrow-100.png');
    background-size: cover;
    margin: 2px 10px;
    border: none;
    width: 70px;
    height: 70px;
    color: black;
    background-color: #fff;
    border-radius: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;    
    font-weight: 200;
    /* position: absolute; */
}
.btnDes{
    margin: 2px 10px;
    border: none;
    width: 70px;
    height: 70px;
    color: black;
    background-color: #fff;
    border-radius: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;    
    font-weight: 200;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.btnDes:hover{
    color: white;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.uniDes{
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;    
    font-weight: 200;
    text-align: center;
    margin: 5px 10px;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.uniDes:hover{
    color: white;
}


